<head>
<title>BeerStock - Successful Check Out</title>
</head>
{% include "beers/toolbar.html" %}

<body bgcolor="silver">
	<p align="center">{{ response }}</p>
</body>
{% include "beers/footer.html" %}