<head>
<title>BeerStock - Fridge Stock</title>
</head>
{% include "beers/toolbar.html" %}

<body bgcolor="silver">
{% if all_beer_list %}
	<table border="1" align="center" id='histTable'>
		<thead>
			<td><b>Name</b></td>
			<td><b>Date</b></td>
		</thead>
	{% for beer in all_beer_list %}
		<tr>
			<td><a href="/beers/update_beer/{{ beer.untappdId }}/">{{ beer.beerName }}</a></td>
			<td>{{ beer.timestamp | date:"Y/m/d - G:i" }}
		</tr>
	{% endfor %}
	</table>
{% else %}
	<p align="center">No beers are available.</p>
{% endif %}
</body>
{% include "beers/footer.html" %}