<head>
<title>BeerStock - Login Page</title>
</head>
{% include "beers/toolbar.html" %}

<body bgcolor="silver">
	<form name="login" method="post" align='center' style="padding-top: 10px">
	{% csrf_token %}
	Username: <input type="text" name="username">
	Password: <input type="password" name="password">
	<input type="submit" value="Submit">
	</form>
</body>
{% include "beers/footer.html" %}