<head>
<title>BeerStock - Successful Logged Out</title>
</head>
{% include "beers/toolbar.html" %}

<body bgcolor="silver">
	<p align="center">Successfully logged out of BeerStock</p>
</body>
{% include "beers/footer.html" %}