<head>
	<style type="text/css" title="currentStyle">
		@import "/static/css/jquery.dataTables.css";
		@import "/static/css/dropit.css";
	</style>
	<script type="text/javascript" language="javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript" language="javascript" src="/static/js/jquery.dataTables.js"></script>
	<script type="text/javascript" language="javascript" src="/static/js/dropit.js"></script>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			$('.dropdown').dropit();
		});
		$(document).ready(function() {
			$('#histTable').dataTable({
				"aaSorting": [[ 1, "desc" ]],
			});
		});
		$(document).ready(function() {
			$('#table').dataTable();
		});
	</script>
	<style>
		nav {
			text-align: center;
			font-weight:bold;
		}
		nav a:link,nav a:visited {
			padding:4px;
			color:#FFFFFF;
			text-decoration:none;
			text-transform:uppercase;
		}
		nav ul {
			padding: 10px;
			color:#FFFFFF;
			background-color:#62709E;
			background-size: cover;
		}
		nav li {
			width:120px;
			height:20px;
			display: inline-block;
			padding: 10px;
		}
		nav a:hover,nav a:active
		{
			background-color:#1042E6;
		}
		footer
		{
			position:absolute;
			bottom:10;
			width:95%;
		}
	</style>	
	<link rel="shortcut icon" href="http://www.beerstock.ca/static/images/beer_favicon.ico" >
	<link rel="icon" href="http://www.beerstock.ca/static/images/beer_favicon.ico" >
</head>
<nav>
	<ul class='dropdown'>
		<li><a href="/beers/search_beer">Search</a></li>
		<li><a href="/beers/stock_index">Stock</a></li>
		<li><a href="/beers/history_index">History</a></li>
		{% if user %}
			{% if user.username == "" %}
				<li><a href="/beers/login">Sign In</a></li>
			{% else %}
				<li><a href="#">{{ user.username }}</a>
					<ul>
						<li><a href="/beers/account_info">Account Info</a></li>
						<li><a href="/beers/logout">Logout</a></li>
					</ul>
				</li>
			{% endif %}
		{% else %}
			<li><a href="/beers/login">Sign In</a></li>
		{% endif %}	
	</ul>
</nav>