<head>
<title>BeerStock - Add Beer</title>
<style>
	form {
		display: block;
	}
</style>
</head>
{% include "beers/toolbar.html" %}

<body bgcolor="silver">
	<form method="post">
	{% csrf_token %}
	<p align="center"><input type="text" name="beername"></p>
	<p align="center"><input type="submit" value="Add beer!"></p>
	</form>
</body>
{% include "beers/footer.html" %}